<section id="proyecto" class="row">
    <div>
        <ul class="list-group">
          <div  class="card w-100">
            
            <i><li class="list-group-item">
                <h3><ins>Proyectos</ins></h3>
            </i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nisi quo facilis corrupti illo commodi maiores reiciendis explicabo veritatis a, asperiores culpa eum suscipit illum sunt fugiat! Recusandae, temporibus voluptatum!</p>
            
          </div>
        </ul>
      </div>
    </section>