<section id="educacion" class="row">  
    <div >
        <ul  class="list-group">
            <div   class="card w-100">
              
              <i><li class="list-group-item">
                <h3><ins> Educación</ins></h3></li>
              </i>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat fugiat temporibus esse nisi corrupti, minima quia eos rem natus aperiam assumenda veniam dolore labore consequuntur quis iste laudantium pariatur incidunt.</p>
              
            <app-buttoneducacion></app-buttoneducacion>
            </div>
          </ul>
    </div>
  </section>