<div class="modal fade" id="exampleModa1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal.lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="formFile" class="form-label">Foto-banner:</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Foto-perfil:</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            </form>
           
            
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary" >Guardar</button>
        </div>
      </div>
    </div>
  </div>
