<section id="contacto" class="row">
    <div> 
      <ul class="list-group">
        <div  class="card w-100">
          
          <i><li class="list-group-item"> <h3><ins> Contacto </ins></h3></i>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto vero deserunt facere inventore nesciunt, vel aperiam esse aut, alias odio facilis sint accusamus aliquam odit? Natus, laboriosam. Nostrum, eligendi in.</p>
          <button type="button" class="btn btn-link link">Facebook</button> <br><button type="button" class="btn btn-link link">Instagram</button> 
          
          
        </div>
      </ul>
    </div>
  </section>
  