<div id="banner">
    
    <img src="assets/img/workplace-with-smartphone-laptop-on-black-table-top-view-copyspace-background.jpg"alt="foto" class="w-100 img-fluid"> 
   
    <app-buttonbanner></app-buttonbanner>
  </div>
    
      
      <div id="logoPerfil"> 
      <img src="assets/img/IMG_20211007_190939_580.jpg"  alt="texto alternativo">
      <p class="nombrePerfil"> Alexis Villca  <br>Desarrollador Full Stack Jr.</p>
      <app-buttonfotologo></app-buttonfotologo>
    </div>

    <app-mbanner></app-mbanner>
    <app-logotexto></app-logotexto>
    
      
    
    